<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>

<body class="container">
    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" >项目管理系统</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="{:url('First/index')}">首页</a></li>
                            <li><a href="{:url('User/index')}">用户列表</a></li>
                            <li><a href="{:url('Project/index')}">项目列表</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('Login/index')}">注销</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- 内容 -->
    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" method="get">
                <div class="form-group">
                    <label class="sr-only" for="name">姓名</label>
                    <input name="name" type="text" class="form-control" placeholder="姓名..." value="{:input('name')}">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="username">用户名</label>
                    <input name="username" type="text" class="form-control" placeholder="用户名..." value="{:input('username')}">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
            </form>
        </div>
        <div class="col-md-4 text-right">
            <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;新增</a>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">序号</th>
                        <th scope="col">姓名</th>
                        <th scope="col">用户名</th>
                        <th scope="col">性别</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="users" id="_user" key="key"}
                    <tr>
                        <th scope="row">{$key}</th>
                        <td>{$_user->name}</td>
                        <td>{$_user->username}</td>
                        <td>{eq name="_user->sex" value="0"}男{else /}女{/eq}</td>
                        <td>
                            <a href="{:url('edit?id=' . $_user->id)}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                            <a href="{:url('delete?id=' . $_user->id)}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
    <!--分页 -->
    <div class="row">
        <div class="col-md-12 text-center">
            {$users->render()}
        </div>
    </div>
</body>

</html>