<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body class="container">
    <div class="row text-center">
        <div class="col-md-12 ">
            <form action="" method="post">
            <label for="username">username:</label><input type="text" name="username" id="username" />
            <label for="password">password:</label><input type="password" name="password" id="password" />
            <button type="reset">reset</button>
            <button type="submit">submit</button>
        </form>
        </div>
    </div>
</body>
</html>