{extend name="index"}
{block name="title"}
    新建项目
{/block}

{block name="nav"}
{/block}

{block name="content"}
    <form action="{:url('save')}" method="post">
        <div class="form-group">
            <label for="name">项目名称</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" name="name">
        </div>
            <label for="exampleInputPassword1">类型</label>
            <div class="row">
                <div class="col-md-1 ">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="type0" value="0">
                        <label class="form-check-label" for="type">公开的</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="type1" value="1">
                        <label class="form-check-label" for="type">私有的</label>
                    </div>
                </div>
            </div>    
        </div> 
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{/block}
