{extend name='index'}
{block name="title"}
    项目列表
{/block}

{block name='content'}
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;新建</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead> 
                    <tr>
                        <th scope="col">序号</th>
                        <th scope="col">项目名称</th>
                        <th scope="col">创建人</th>
                        <th scope="col">类型</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="projects" id="_project" key="key"}
                        <tr>
                            <th scope="row">{$key}</th>
                            <td>{$_project->name}</td>
                            <td>{php}
                                    $users = $_project->users;
                                    foreach($users as $user) echo $user->name;
                                {/php}
                            </td>
                            <td>{eq name="$_project->type" value="0"}公开的{else /}私有的{/eq}</td>
                            <td>
                                <a href="{:url('Task/index')}" class="btn btn-info">&nbsp;查看</a>
                                <a class="btn btn-sm btn-success" href="{:url('tojoin')}">&nbsp;申请加入</a>
                            </td>   
                        </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>

{/block}

{block name='page'}
    <div class="row">
        <div class="col-md-12 text-center">
            
        </div>
    </div>
{/block}