<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>

<body class="container">
    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" >项目管理系统</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="#">首页</a></li>
                            <li><a href="{:url('Index/index')}">用户列表</a></li>
                            <li><a href="{:url('index')}">项目列表</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">注销</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- 内容 -->
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{:url('')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;新建</a>
        </div>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">序号</th>
                        <th scope="col">项目名称</th>
                        <th scope="col">创建人</th>
                        <th scope="col">类型</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>学生管理</td>
                        <td>张三</td>
                        <td>私有的</td>
                        <td>
                            <a href="{:url('')}" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i>&nbsp;邀请</a>
                            <a class="btn btn-sm btn-primary" href="{:url('Task/index')}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;详情</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>学生管理</td>
                        <td>张三</td>
                        <td>公开的</td>
                        <td>
                            <a href="{:url('add')}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;加入</a>
                            <a class="btn btn-sm btn-primary" href="{:url('Task/index')}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;详情</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>学生管理</td>
                        <td>张三</td>
                        <td>公开的</td>
                        <td>
                            <a href="{:url('add')}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;加入</a>
                            <a class="btn btn-sm btn-primary" href="{:url('Task/index')}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;详情</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>学生管理</td>
                        <td>张三</td>
                        <td>私有的</td>
                        <td>
                            <a href="{:url('')}" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i>&nbsp;邀请</a>
                            <a class="btn btn-sm btn-primary" href="{:url('Task/index')}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;详情</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>学生管理</td>
                        <td>张三</td>
                        <td>公开的</td>
                        <td>
                            <a href="{:url('add')}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;加入</a>
                            <a class="btn btn-sm btn-primary" href="{:url('Task/index')}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;详情</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--分页 -->
    <div class="row">
        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>