{extend name="index"}
{block name="title"}
    查看详情
{/block}

{block name="nav"}
{/block}

{block name="content"}
<div class="row">
    <div class="col-md-8">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">系统记录</th>
            </tr>
        </thead>
        <tbody>
            {volist name="events" id="_event" key="key"}
            <tr>
                <th scope="row">{$key}</th>
                <td><B>{$_event->user->name}</B>在{$_event->time}时候添加事件<b>{$_event->event}</b></td>
            </tr>
            {/volist}

            {volist name="details" id="_detail" key="key"}
            <tr>
                <th scope="row">{$key}</th>
                <td><B>{$_detail->user->name}</B>在{$_detail->time}时候将任务状态由<b>{$_detail->getStatusAttr($_detail->status_old)}</b>改为<b>{$_detail->getStatusAttr($_detail->status_new)}</b></td>
            </tr>
            {/volist}
        </tbody>
        </table>
    </div>
</div>
    
{/block}
