{extend name="index"}
{block name="title"}
    查看详情
{/block}

{block name="nav"}
{/block}

{block name="content"}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">系统记录</th>
            </tr>
        </thead>
        <tbody>
            {volist name="details" id="_detail" key="key"}
            <tr>
                <th scope="row">{$key}</th>
                <td>{$_detail->user_id}在xxx时候将认为状态由{$_detail->status_old}改为{$_detail->status_new}</td>
            </tr>
            {/volist}
        </tbody>
    </table>
{/block}
