{extend name="index"}
{block name="title"}
    查看详情
{/block}

{block name="nav"}
{/block}

{block name="content"}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">系统记录</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>张三在xxx时候将认为状态由xx改为xx</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>张三在xxx时候将认为状态由xx改为xx</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>张三在xxx时候将认为状态由xx改为xx</td>
            </tr>
        </tbody>
    </table>
{/block}
