{extend name="index"}
{block name="title"}
    编辑任务
{/block}

{block name="nav"}
{/block}

{block name="content"}
    <form action="{:url('update?projectId=' . $project->id)}" method="post">
        <div class="form-group">
            <input type="hidden" name="taskId" value="{$task->id}">
            <label for="title">标题</label>
            <input type="text" class="form-control" id="title" aria-describedby="title" name="name" value="{$task->name}">
        </div>
        <div class="form-group">
            <label for="leaduser">负责人</label>
            <select class="custom-select custom-select-lg mb-8" name="userId">
                <option selected value="">请选择项目负责人</option>
                {volist name="users"  id="_user"}
                <option value="{$_user->id}" {eq name="$_user->id" value="$task->user_id"} selected {/eq}>{$_user->name}</option>
                {/volist}
            </select>

        </div>
        <div class="form-group">
            <label for="startime">开始时间</label>
            <input type="date" id="date" name="startDate" value="{$task->start_date}">
        </div>
        <div class="form-group">
            <label for="endtime">结束时间</label>
            <input type="date" id="date" name="endDate" value="{$task->end_date}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">状态</label>
            <div class="row">
                <div class="col-md-1 ">
                    <div class="form-check">
                        <label for="radioBtn">
                            <input type="radio" id="radioBtn" name="status" value="0" {eq name="$task->getData('status')" value="0"} checked {/eq}>未开始
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-check">
                        <label for="radioBtn1">
                            <input type="radio" id="radioBtn1" name="status" value="1" {eq name="$task->getData('status')" value="1"} checked {/eq}>进行中
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-check">
                        <label for="radioBtn2">
                            <input type="radio" id="radioBtn2" name="status" value="2" {eq name="$task->getData('status')" value="2"} checked {/eq}>已完成
                        </label>
                    </div>
                </div>
            </div>    
        </div> 
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
{/block}